Learn step-by-step with me, how to use pandas to create, read, and write data

# **CREATING DATA**

In [2]:
# To get started, you need to import the library "pandas"

import pandas as pd

Note that there are two main objects in pandas: **the DataFrame and the Series**

- **the DataFrame:** In python, a table is being referred to as a DataFrame.
It usually contains an array of individual entries, 
each of which has a certain value. 
Each entry corresponds to a row and a column.

In [3]:
#   Let us consider a simple DataFrame:

pd.DataFrame({"Male":[70, 41], "Female":[151, 22]})

   Male  Female
0    70     151
1    41      22

It is important to note that DataFrames entries are NOT limited to integers. Take for instance:

In [5]:
pd.DataFrame({"Victoria":["I like her", "She is so lovely"], "Victor":["I like him", "He is so nice"]})

           Victoria         Victor
0        I like her     I like him
1  She is so lovely  He is so nice